:root{
    --max-width-size: 1920px;
}
html{
    font-size: 62.5%;
}
body{
    margin: 0 auto;
}

.header p{
    text-align: center;
    background-color: #181818;
    color: #f6f6f6;
    font-size: 1.6rem;
    padding: 8px;
}
.header .logo-name h1{
    color: #181818;
    font-size: 2.4rem;
    font-weight: 600;
    background-color: #F6F6F6;
    text-align: center;
    padding: 10px;
    align-self: center;
}
.hero{
    display: flex;
    align-items: center;
    background: url(../images/wallpaper.jpeg) center center no-repeat;
    background-size: cover;
    height: 60vh;
    background-attachment: fixed;
}

.hero .info-hero{
    color: #F6F6F6;
    padding-left: 100px;
    width: 560px;
}
.hero h2{
    font-weight: 700;
    font-size: 3.2rem;
}
.hero p{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 35.31px;
    margin-top: 19px;
}
.highlights{
    text-align: center;
}
.highlights h2{
    color: #181818;
    font-weight: 600;
    font-size: 3.2rem;
    margin-top: 58px;
}
.highlights p{
    color: #474747;
    font-size: 1.8rem;
    margin-bottom: 59px;
}
.shoes{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1440px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBE9EA;
    width: 300px;
    height: 302px;
    margin: 39px 13px;
}
.footer{
    margin-top: 100px;
}
.footer p{
    background-color: #181818;
    color: #F6F6F6;
    text-align: center;
    font-size: 1.8rem;
    padding: 13px 0;
}
@media(max-width:720px){
    .hero .info-hero{
        text-align: center;
        padding: 0px 20px; 
    }
}